:root {
  --primary-color: #4f8a8b;
  --secondary-color: #222831;
  --primary-font-family: "Hind", sans-serif;
}

.content,
.about {
  padding: 120px 20px;
}

h1 {
  font-size: 96px;
  font-family: "Lobster", cursive;
  color: black;
}

h2 {
  font-size: 48px;
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
  padding: 0;
}

h3 {
  font-size: 24px;
  font-family: var(--primary-font-family);
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  line-height: 1.5;
  font-size: 18px;
  font-family: var(--primary-font-family);
  color: var(--secondary-color);
}

.hero {
  background: #eeeeee;
  padding: 130px 20px;
  text-align: center;
}

.btn-start {
  background: var(--primary-color);
  color: #f9f3f3;
  border-radius: 4px;
  padding: 18px 30px;
  margin: 0px;
  font-size: 18px;
  text-align: center;
  font-family: var(--primary-font-family);
}

.about-text {
  margin: 30px;
}

.about-text h1 {
  font-size: 64px;
}

.about-text h2 {
  font-size: 18px;
}

.about-text p {
  font-size: 16px;
  line-height: 2;
  font-weight: normal;
}

nav img {
  max-height: 40px;
  border-radius: 50%;
}

.navbar-nav {
  padding-left: 545px;
  font-weight: 700;
  font-family: var(--primary-font-family);
}

.btn-learn-more {
  border-color: var(--primary-color);
  color: var(--primary-color);
  border-radius: 4px;
  padding: 18px 30px;
  font-size: 18px;
  font-family: var(--primary-font-family);
}

.contact-links a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 20px;
}

.contact-links a:hover,
.btn-learn-more:hover,
.btn-start:hover {
  color: var(--secondary-color);
}

footer .email-link {
  display: flex;
  justify-content: center;
}

footer .email-link a {
  color: black;
  text-decoration: none;
  font-family: var(--primary-font-family);
  font-size: 24px;
}

footer .social-links {
  display: flex;
  justify-content: center;
}

footer .social-links a {
  font-size: 18px;
  padding: 10px 14px;
  margin: 0 20px;
  color: var(--primary-color);
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  background: #f9f7fe;
}

footer .social-links a:hover {
  color: #f9f7fe;
  background: var(--primary-color);
}

@media (max-width: 576px) {
  h1 {
    font-size: 45px;
    line-height: 1.5;
    margin-bottom: 3px;
  }

  h2,
  p {
    text-align: center;
    line-height: 1.5;
  }

  h2 {
    font-size: 32px;
  }

  .about h1 {
    text-align: center;
    font-size: 50px;
  }

  .about-text {
    margin: 0;
    margin-bottom: 30px;
  }

  .about-text .btn-start {
    display: flex;
    justify-content: center;
  }

  .content h1 {
    text-align: center;
  }

  .learn-more-centered {
    display: flex;
    justify-content: center;
  }

  .primary-link {
    text-align: center;
    display: block;
    margin: 0 20px;
  }

  .navbar-nav {
    padding: 0;
  }
}
