:root {
  --primary-color: #f14668;
  --secondary-color: #ffd880;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.body {
  margin-top: 100px;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  line-height: 1.5;
  font-size: 18px;
}

.primary-links {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.links a {
  margin: 20px;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}

.contact {
  background-color: var(--primary-color);
  color: white;
}

.about {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.launch-link a {
  margin: 0;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
}

.about-paragraphs {
  margin: 30px 0;
}

.contact-link {
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.contact-link:hover {
  text-decoration: underline;
}

a:hover {
  color: #6b011f;
}
